
@import "tailwindcss";


@theme {
  --font-gabarito: "Gabarito", sans-serif;
  --font-lexend: "Lexend", sans-serif;
  --font-montserrant: "Montserrat", sans-serif;
  --font-valera: "Varela Round", sans-serif;
}

@layer base {

  #root {
    @apply w-full h-auto flex flex-col 
    justify-start items-center gap-10 bg-amber-50;
  }

  body{
    @apply bg-amber-50;
  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  main, menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
  }

  article, aside, details, figcaption, figure, 
  footer, header, hgroup, main, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
    color: #000;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }

  a {
    color: inherit;
    text-decoration: none;
    background: transparent;
  }

  img {
    border-style: none;
    max-width: 100%;
    display: block;
    height: auto;
  }

  :focus {
    outline: none;
    box-shadow: none;
  }

}

@layer base {
  .header-sc {
    @apply w-full bg-amber-50 shadow px-4
     p-3 flex items-center justify-between border-2 border-gray-500;
  }

  .header-sc .logo-sc{
    @apply flex items-center space-x-2 gap-2;
  }

  .header-sc .logo-sc img{
    @apply h-10 w-10 object-contain p-1 border-2 border-gray-500
    bg-yellow-400 pb-1.5 pl-1.5;
  }

  .header-sc .btn-group {
    @apply flex items-center space-x-4;
  }

  .hero-sc{
    @apply w-full border border-red-600 h-140 p-3 
    flex flex-row justify-center items-center gap-3;
  }

  .hero-sc .hero-img{
    @apply w-100 h-100 border border-red-950 bg-cover;
  }

  .hero-sc .text-hero{
    @apply w-123 h-90 border border-red-400 p-4 flex flex-col gap-4 items-start;
  }
}

/***** Components of Reuse on Webpage *****/ 

@layer components {
  .btn-general-primary {
    @apply  bg-yellow-400 text-gray-600 capitalize px-4 
    p-2 hover:bg-yellow-500 transition 
    font-medium border-2 border-gray-500 hover:cursor-pointer font-lexend;
  }
}

/***** End Components of Reuse on Webpage *****/
